.ant-layout-content {
  max-width: 1020px;
  padding: 15px;
  margin: 150px auto;
}
.vacancy {
  font-size: 18px;
  line-height: 1.5;
}

h3 {
  font-size: 30px;
}

h3, h5 {
  text-transform: uppercase;
}


i {
  font-weight: 600;
}

p {
  margin-bottom: 10px;
}
